{% assign sidebar = site.data.data.sidebar %}
<div class="sidebar-wrapper">

  <div class="profile-container">

    {% if sidebar.avatar %}
    <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ sidebar.avatar }}" alt="profile picture" />
    {% endif %}

    {% if sidebar.name %}
    <h1 class="name">{{ sidebar.name }}</h1>
    {% endif %}

    {% if sidebar.tagline %}
    <h3 class="tagline">{{ sidebar.tagline }}</h3>
    {% endif %}

  </div><!--//profile-container-->

  {% include contact.html %}

  {% if sidebar.education %}
    {% include education.html %}
  {% endif %}

  {% include language.html %}
  {% include interests.html %}

  {% if page.layout == 'default' %}
  <div class="container-block sidebar-actions-container">
    <h2 class="container-block-title">Export</h2>
    <div class="sidebar-actions">
      <button onclick="print()" class="print-button d-print-none">
        <i class="fas fa-print"></i>Print
      </button>
      <button onclick="generatePDF()" class="pdf-button d-print-none" id="pdfButton">
        <i class="fas fa-file-pdf"></i>PDF
      </button>
    </div>
  </div>
  {% endif %}

  {% if sidebar.about %}
    {% include about.html %}
  {% endif %}

</div><!--//sidebar-wrapper-->
