{% assign skills = site.data.data.skills %} {% if skills %}
<section class="skills-section section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>

  <div class="skillset">
    {% for group in skills.toolset %}
    <div class="category">
      <h3 class="category-label">{{ group.category }}</h3>
      <div class="pills">
        {% for tool in group.items %}
        <span class="pill">{{ tool }}</span>
        {% endfor %}
      </div>
      <!--//pills-->
    </div>
    <!--//category-->
    {% endfor %}
  </div>
</section>
<!--//skills-section-->
{% endif %}
