/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  html,
  body {
    padding: 0;
  }

  .wrapper {
    display: block;
    border-left: none;
    border-right: none;
  }

  .sidebar-wrapper {
    width: inherit;
  }

  .main-wrapper {
    padding: 32px 24px;
  }

  .main-wrapper .upper-row {
    flex-wrap: wrap;
    margin-bottom: 2px;
  }

  .main-wrapper .time {
    margin-left: 0;
  }

  .chain {
    padding-left: 22px;
  }
  .chain .block-node {
    left: -22px;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* Ex-Large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {
}
